<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @partnership.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @partnership.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @partnership.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @partnership.phone %>
</p>

<%= link_to 'Edit', edit_partnership_path(@partnership) %> |
<%= link_to 'Back', partnerships_path %>
